body {
    font-family: Arial;
    background: linear-gradient(to right, #2193b0, #6dd5ed);
    text-align: center;
}

.container {
    margin-top: 100px;
    background: white;
    padding: 40px;
    border-radius: 10px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

input {
    padding: 10px;
    margin: 10px;
    width: 80%;
}

button {
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
}

